body,
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
}

p {
	font-family: monospace;
}

html {
  box-sizing: border-box;
}
header {
	text-align: center;
}
body
{
	background-color: #282828;
}
h1, h2, h3, h4, h5, h6 {
	color: #D3869B;
}
p {
	color: #FFFFFF;
}
a {
	color: #88AD6F;
}
a:hover {
	color: #A64829;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #32302F;
}
.navitems {
	float: left;
}

.navitems a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitems img {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
