body,
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
}

p {
	font-family: monospace;
}

html {
  box-sizing: border-box;
}
header,main {
	text-align: center;
}
body
{
	background-color: #282828;
}
h1, h2, h3, h4, h5, h6 {
	color: #D3869B;
}
p {
	color: #FFFFFF;
}
a {
	color: #88AD6F;
}
a:hover {
	color: #A64829;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #32302F;
}
.navitems {
  display: inline-block;
}

.navitems a {
  display: block;
  font-size: 120%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitems img {
  width:  40px;
  height: 40px;
  margin: 5px;
}

.profile {

}

.gimg {
	width: 20%;
	height: 20%;
}
